
<section class="vh-100">
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100" style="background-color: rgb(175, 220, 206);">
        <div class="col-md-9 col-lg-6 col-xl-5">
          <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
            class="img-fluid" alt="Sample image">
        </div>
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1 pt-4 pb-4 rounded" style="background-color: azure;">
          <form [formGroup]="loginForm">
            <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
              <p class="lead fw-normal mb-0 me-3">Login</p>
            </div>
  
            <!-- Email input -->
            <div class="form-group form-outline mb-4">
              <label class="form-label" for="form3Example3">Email address</label>
              <input type="email" id="form3Example3" class="form-control form-control-lg"
                placeholder="Enter a valid email address" formControlName="emailId"/>
                <div *ngIf="f('emailId')?.errors && f('emailId')?.touched" style="color: red;">
                  <small *ngIf="f('emailId')?.errors?.['required']">*Email Id Is Required</small> 
                </div>
            </div>
  
            <!-- Password input -->
            <div class="form-outline mb-3 form-group">
              <label class="form-label" for="form3Example4">Password</label>
              <input type="password" id="form3Example4" class="form-control form-control-lg"
                placeholder="Enter password" formControlName="password"/>
                <div *ngIf="f('password')?.errors && f('password')?.touched" style="color: red;">
                  <small *ngIf="f('password')?.errors?.['required']">*Password Is Required</small> 
                </div>
            </div>
  
            <!-- <div class="d-flex justify-content-between align-items-center"> -->
              <!-- Checkbox -->
              <!-- <div class="form-check mb-0">
                <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />
                <label class="form-check-label" for="form2Example3">
                  Remember me
                </label>
              </div>
              <a href="#!" class="text-body">Forgot password?</a> -->
            <!-- </div> -->
  
            <div class="text-center text-lg-start mt-4 pt-2">
              <button type="button" class="btn btn-primary btn-lg" style="padding-left: 2.5rem; padding-right: 2.5rem;" (click)="login()"[disabled]="!loginForm.valid">Login</button>
              <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account?>
                 <a routerLink="/vt_signup" class="link-danger">SignUp</a></p>
            </div>
  
          </form>
        </div>
      </div>
    </div>
  </section>    
